.chatInfo{
    height: 40px;
    padding: 10px;
    display: flex;
    background-color: #5d5b8d;
    align-items: center;
    justify-content: space-between;
    color: lightgray;
}

.chatIcons{
    display: flex;
    gap: 15px;

    img{
        color: white;
        height: 24px;
        cursor: pointer;
    }
}