.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        height: 80%;
        width: 80%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            background-color: #3e3c61;

            .search{
                border-bottom: 1px solid gray;
            
                .searchForm{
                    padding: 10px;

                    input{
                        background-color: transparent;
                        border: none;
                        outline: none;
                        color: white;

                        &::placeholder{
                            color: lightgrey;
                        }
                    }
                }
            }
            .userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                color: white;
                gap: 10px;

                &:hover{
                    background-color: #2f2d52;
                }

                img{
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .userChatInfo{
                    span{
                        
                        font-weight: 500;
                    }
                    p{
                        margin-bottom: 0px;
                        margin-top: 3px;
                        font-size: 14px;
                        color: lightgray;
                    }
                }
            }
        }
        .chat{
            flex:2;
        }
    }
}