.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2f2d52;
    height: 40px;
    padding: 10px;
    color: antiquewhite;

    .logo{
        font-weight: bold;
    }

    .user{
        display: flex;
        align-items: center;
        gap: 5px;

        img{
            background-color: #ddddf7;
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
        }
        button{
            background-color: #5d5b8d;
            border: none;
            font-size: 12px;
            color: #ddddf7;
            cursor: pointer;
        }
    }
}